<% @page_title = "Payment Cancelled - Plenty of Tweeps" %>

<div id="non-results-content">
  <h2 style="border: none">Payment cancelled.</h2>
  <p>
    Your credit card will not be charged. If you have any questions, please
    feel free to <%= link_to "contact us", contact_us_path %>.
  </p>
  <p><%= link_to "Return to homepage", root_url %></p>
</div>