<% @page_title = "Payment Being Processed - Plenty of Tweeps" %>

<div id="non-results-content">
  <h2 style="border: none">Thank you!</h2>
  <p>
    Your payment is currently being processed. You will receive
    an email notification from Plenty of Tweeps in the next few
    minutes confirming and activating your account upgrade.
  </p>
  
  <p>If you have any questions, please feel free to <%= link_to "contact us", contact_us_path %>.</p>
  
  <p><%= link_to "Return to homepage", root_url %></p>
</div>